<div class= "login-registration-form">
<h1>Log In</h1>
<ul>
<%= form_tag login_consumer_path do %>
  <li>
    <%= label_tag :username %><br/>
    <%= text_field_tag :username %>
  </li>
  <li>
    <%= label_tag :password %><br/>
    <%= password_field_tag :password %>
  </li>
  <p>
  <%= submit_tag 'Log In' %>
  </p>
<% end %>
  <%= button_to "Signup", new_consumer_path, method: :get %>

</ul>
</div>
