<div class="consumer_edit_form">
  <h1 id="update_title">Update Your Information</h1>
  <%= form_for(@consumer) do |f| %>
    <ul>
      <% @consumer.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <p>
      <%= f.label :email, class: 'required' %><br />
      <%= f.email_field :email %>
    </p>
    <p>
     <%= f.label :password, class: 'required'%><br />
     <%= f.password_field :password %>
    </p
    <p>
     <%= f.label "Confirm Password", class: 'required'%><br />
     <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.label :first_name, class: 'required' %><br />
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :address, class: 'required' %><br />
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label :phone_number%><br />
      <%= f.telephone_field :phone_number, id: 'phone'  %>
      <li id = "info-image-for-texts"><%= image_tag("http://vignette2.wikia.nocookie.net/gravityfalls/images/5/55/More_info_icon.png/revision/20131229000053", id: 'info-image')%>
        Text Updates?
        <%= f.check_box :texts %>
        <span id="popup">This allows us to send you text notifications in real time with the results of the lotteries you have entered.</span>
      </li>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
  <%= link_to 'Back to Profile', consumer_path(@consumer) %><br><br>
</div>


<!-- // $(document).ready(function(){

// var e = document.getElementById('info-image-for-texts');
// e.onmouseover = function() {
//   document.getElementById('popup').style.display = 'block';
// }
// e.onmouseout = function() {
//   document.getElementById('popup').style.display = 'none';
// }
// }); -->
