<div class="consumer_edit_form">
  <h1 id="update_title">Update Your Information</h1>
  <%= form_for(@consumer) do |f| %>
    <ul>
      <% @consumer.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <p>
      <%= f.label :email, class: 'required' %><br />
      <%= f.email_field :email %>
    </p>
    <p>
     <%= f.label :password, class: 'required'%><br />
     <%= f.password_field :password %>
    </p
    <p>
     <%= f.label "Confirm Password", class: 'required'%><br />
     <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.label :first_name, class: 'required' %><br />
      <%= f.text_field :first_name %>
    </p>
    <p>
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </p>
    <p>
      <%= f.label :address, class: 'required' %><br />
      <%= f.text_field :address %>
    </p>
    <p>
      <%= f.label :phone_number, class: 'required' %><br />
      <%= f.telephone_field :phone_number %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
  <%= link_to 'Back to Profile', consumer_path(@consumer) %><br><br>
</div>
