<div id ="consumers_list"
<ul id="Consumers">
	<h1>Consumer: <%= @consumer.username %></h1>
	<div>
	<li>Email: <%= @consumer.email%></li>
	<li>First Name: <%= @consumer.first_name%></li>
	<li>Last Name: <%= @consumer.last_name%></li>
	<li>Address: <%= @consumer.address%></li>


	<%= link_to "Edit", edit_consumer_path(@consumer)%><br>

	<%#= link_to "Delete User", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete the user \"#{@user.email}?\""} %>
	<br>
</div>
<br>
</ul>
