<div class="order_show">
  <div id="order_info">
  <ul>
  <% if @deal.orders.count < @deal.threshold %>
    <li id="product_link"><strong>Product: </strong><%= link_to "#{@deal.name}", @deal %></li>
    <li><strong>Participant's Limit:</strong> <%= @deal.threshold %></li>
    <li><strong>Current Number of Participants:</strong> <%= @deal.orders.count %> (<%= @deal.threshold - @deal.orders.count %> Remaining)</li>
    <li><strong>Shipping Address:</strong> <%= @order.address%>
      <span id="updateaddress"><%= link_to 'Update your address', edit_consumer_order_path(current_consumer, @order)%></span>
    </li>
    <br>
    <li><%= link_to 'Back to Orders', orders_path(current_consumer) %></li>
  <% else %>
    <li id="order_info_won"><strong>The lottery for the <%= @deal.name %> has ended. The winner was: <%= @deal.winning_consumer %></li>
    <li class="order_info" id="order_info_won"><%= link_to 'Back to Orders', orders_path(current_consumer) %></li>
  <% end %>
  </ul>
  <br><br>
  </div>
</div>
