<%= form_for [@supplier, @deal] do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.text_field :name, placeholder: "Deal Name" %>
  </p>
  <p>
    <%= f.text_field :url, placeholder: "Image Url" %>
  </p>
  <p>
    <%= f.text_area :description, placeholder: "Description" %>
  </p>
  <p>
    <%= f.text_field :price, placeholder: "Price" %>
  </p>
  <p>
    <%= f.number_field :threshold, placeholder: "Threshold", step: 1 %>
  </p>
  <p>
    <%= f.date_field :start_date, placeholder: "Start Date" %>
  </p>
  <p>
    <%= f.date_field :end_date, placeholder: "End Date" %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
