<%= form_for [@supplier, @deal] do |f| %>
  <% if @deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deal.errors.count, "error") %> prevented this item from being updated:</h2>

      <ul>
      <% @deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p><%= f.label :name, class: 'required' %></p>
  <p><%= f.text_field :name, placeholder: "Deal Name" %></p>
  
  <p><%= f.label "Image Url", class: 'required' %></p>
  <p><%= f.text_field :url, placeholder: "Image Url" %></p>

  <p><%= f.label :description, class: 'required' %></p>
  <p><%= f.text_area :description, placeholder: "Description" %></p>

  <p>
    <%= f.label :product_type, class: 'required'%><br/>
    <%= f.select :product_type, [ 'Electronics', 'Video Games'], :prompt => 'Product Type' %>
  </p>
  
  <p>
    <%= f.submit 'Update', :class => 'edit_deal' %>
  </p>
<% end %>
