<%= form_for [@supplier, @deal] do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name, placeholder: "Deal Name" %></p>
  
  <p><%= f.label "Image Url" %></p>
  <p><%= f.text_field :url, placeholder: "Image Url" %></p>

  <p><%= f.label :description %></p>
  <p><%= f.text_area :description, placeholder: "Description" %></p>

  <p><%= f.label :price %></p>
  <p><%= f.text_field :price, placeholder: "Price" %></p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
