
<h3>Fill out your shipping address below and click on the blue (checkout button) to bet on a brand new <%= "#{@deal.name}" %> </h3>

<%= form_tag create_charge_path(@deal) do %>


  <% puts "**********************************************************" %>
  <% puts "This is the order form #{@deal.price}" %>
  <% puts "**********************************************************" %>

  <% @amount = @deal.price %>

  <article>
     <%= label_tag 'amount', 'To Pay', class: 'amount' %>
     <%= label_tag 'amount', "$#{@amount}.00", class: 'amount-figure' %>
 </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-email=<%= current_consumer.email %>
          data-name= "Wholesale"
          data-key= "<%= Rails.configuration.stripe[:publishable_key] %>"
          data-amount= <%= @amount * 100 %>
          data-description= "<%= @deal.description %>"
          data-bitcoin= false
          data-image="/128x128.png">></script>


  <% puts "**********************************************************" %>
  <% puts "This is the order form again #{@deal.price}" %>
  <% puts "**********************************************************" %>

<% end %>
