
<h3>Click the button below to bid on a brand new <%= "#{@deal.name}" %> </h3>

<%= form_tag create_charge_path(@deal) do %>

  <% @amount = @deal.price %>
  <% @name = @deal.name %>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-email=<%= current_consumer.email %>
          data-name= "<%= @name%>"
          data-key= "<%= Rails.configuration.stripe[:publishable_key] %>"
          data-amount= <%= @amount * 100 %>
          data-description= "<%= @deal.description %>"
          data-bitcoin= false
          data-image="<%=@deal.url%>"></script>

<% end %>
