
  <!-- <form action="" method="POST">
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
      data-amount= <%= "#{@deal.price}" %>
      data-name= <%= "#{@deal.name}" %>
      data-description= <%= "#{@deal.description}" %>

    </script>
  </form> -->


  <h3>Click on the blue button to bet on a brand new <%= "#{@deal.name}" %> </h3>

  <%= form_tag charges_path do %>

    <% @amount = @deal.price %>
    <% @name = @deal.name %>

    <article>
     <%= label_tag 'amount', 'To Pay', class: 'amount' %>
     <%= label_tag 'amount', "$#{@amount}.00", class: 'amount-figure' %>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-email=<%= current_consumer.email %>
            data-name= "Wholesale"
            data-key= "<%= Rails.configuration.stripe[:publishable_key] %>"
            data-amount= <%= @amount * 100 %>
            data-description= "<%= @deal.description %>"
            data-bitcoin= false
            data-image="/128x128.png">></script>

  <% end %>
