<h1>Deals</h1>

<% @deals.each do |deal| %>
  <ul>
    <li><strong>Deal Name:</strong> <%= deal.name %></li>
    <li><strong>Deal Description:</strong> <%= deal.description %></li>
    <li><strong>Deal Price:</strong> <%= deal.price %></li>
    <li><strong>Supplier:</strong> <%= deal.supplier.company_name %></li>
    <li>
      <%= link_to 'Order Now', deal %>
    </li>
  </ul>
<% end %>

<%= link_to 'New Deal', new_deal_path %>
