<div class = "deals_list">
<p class="main_title"><%= image_tag("parlaybanner.png")%></p>
 <% if current_consumer %>
   <input type="checkbox" name="my_orders" id="my_orders"/><span class = "checkbox-tags"> Your Orders</span>
   <input type="checkbox" name="not_my_orders" id="not_my_orders"/><span class = "checkbox-tags"> Exclude Your Orders</span>
 <% end %>
<br>
<% @deals.each do |deal| %>
  <% if deal.orders.count < deal.threshold %>
    <% if current_consumer %>
      <% @current_consumer_deals = current_consumer.orders(:select => :deal_id).collect(&:deal_id) %>
      
      <% if @current_consumer_deals.include? deal.id %>
        <ul class = "deal_block_consumer">
          <li id="product_price"><%= link_to(number_to_currency(deal.price)) %></li>
          <li class="image_product"><%= link_to(image_tag("#{deal.url}", :size => "300x250"), deal, class: "actual_image")%></li>
          <br>
          <li class="filter_labels"><strong>Product:</strong> <%= deal.name %></li>
          <li class="filter_labels"><strong>Participant Limit:</strong> <%= deal.threshold %> (<%= deal.threshold - deal.orders.count %> Tickets Left)</li>
        </ul>
      <%else%>
        <ul class = "deal_block">
          <li id="product_price"><%= link_to(number_to_currency(deal.price)) %></li>
          <li class="image_product"><%= link_to(image_tag("#{deal.url}", :size => "300x250"), deal, class: "actual_image")%></li>
          <br>
          <li class="filter_labels"><strong>Product:</strong> <%= deal.name %></li>
          <li class="filter_labels"><strong>Ticket price:</strong> <%= number_to_currency(deal.price) %></li>
        </ul>
      <% end %>
    <% else %>
      <ul class = "deal_block">
          <li id="product_price"><%= link_to(number_to_currency(deal.price)) %></li>
          <li class="image_product"><%= link_to(image_tag("#{deal.url}", :size => "300x250"), deal, class: "actual_image")%></li>
          <br>
          <li class="filter_labels"><strong>Product:</strong> <%= deal.name %></li>
          <li class="filter_labels"><strong>Ticket price:</strong> <%= number_to_currency(deal.price) %></li>
        </ul>
    <% end %>
  <% end %>
<% end %>
</div>


  <!-- <div class="consumer_column">

    <% if current_consumer %>
      <div class="consumer_column1">
      <ul id="consumer_profile">
      	<li><p><%= link_to "You are logged in as #{current_consumer.username.capitalize}", consumer_path(current_consumer)%></p></li>
      </ul>
      </div>
    <%end%>

  <div class="filters">
  <p class="filter_title"><strong>What are you looking for?</strong></p>
  <ul>
    <li class="filter_labels">
      <%= check_box_tag(:product_type, "Electronics") %>
      <%= label_tag(:product_type, "Electronics") %>
    </li>
    <li class="filter_labels">
      <%= check_box_tag(:product_type, "Video Games") %>
      <%= label_tag(:product_type, "Video Games") %>
    </li>
  </ul>

    <p class="filter_title"><strong>Filter by:</strong></p>
      <ul>
        <li class = "filter_labels">
          <%= check_box_tag(:filter_type, "order_status") %>
          <%= label_tag(:filter_type, "Almost Complete") %>
        </li>
        <li class = "filter_labels">
          <%= check_box_tag(:filter_type, "your_orders") %>
          <%= label_tag(:filter_type, "Your Active Lotteries") %>
        </li>
      </ul>
      <br>
      <% if current_supplier %>
      <p id = "new_deal_link"><%= link_to 'New Deal', new_deal_path %></p>
      <% end %>  -->

  </div>
</div>  
 <script>

$('#my_orders').click(function(){
    if (this.checked) {
        $('.deal_block').hide();
    } else {
        $('.deal_block').show();
    };
}) 

$('#not_my_orders').click(function(){
    if (this.checked) {
        $('.deal_block_consumer').hide();
    } else {
        $('.deal_block_consumer').show();
    };
}) 

</script>
