<%= form_for @supplier do |f| %>

  <p><%= f.label :username %></p>
  <p><%= f.text_field :username, placeholder: "Username" %></p>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email, placeholder: "E-mail" %></p>
  <p><%= f.label "Shipping Address" %></p>
  <p><%= f.text_field :address, placeholder: "Shipping Address" %></p>
  <p><%= f.submit %></p>

<% end %>
