<h1>Our Suppliers</h1>
<% @suppliers.each do |supplier| %>
  <ul>
    <li><strong>Company Name:</strong> <%= supplier.company_name %></li>
    <li><strong>Username:</strong> <%= supplier.username %></li>
    <li><strong>E-mail:</strong> <%= supplier.email %></li>
    <li><strong>Address:</strong> <%= supplier.address %></li>
    <li>
      <%= link_to 'Show', supplier %> |
      <%= link_to 'Edit', edit_supplier_path(supplier) %> |
      <%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
<% end %>

<%= link_to 'New Supplier', new_supplier_path %>
