<p id="notice"><%= notice %></p>

<h1><%= @supplier.company_name %> Homepage</h1>
<ul>
  <li><strong>Username:</strong> <%= @supplier.username %></li>
  <li><strong>E-mail:</strong> <%= @supplier.email %></li>
  <li><strong>Address:</strong> <%= @supplier.address %></li>
</ul>


<p>Create and manage your deals here</p>

<%= link_to 'Back', suppliers_path %>
