<div class="order_show">
	<div id="order_info">

	<h2><%= @supplier.username.capitalize %>'s Homepage</h2>
	<ul id="consumers">
	  <li><strong>Username:</strong> <%= @supplier.username.capitalize %></li>
	  <li><strong>E-mail:</strong> <%= @supplier.email %></li>
	  <li><strong>HQ Address:</strong> <%= @supplier.address %></li>

	  <div id = "links_consumer">
		  <%= link_to 'Update Info', edit_supplier_path(@supplier) %><br/>
		  <%= link_to 'View Lotteries', suppliers_deals_path %> |
  		  <%= link_to 'Create New Lottery', new_deal_path %>

	  </div>
	</ul>
	<br/>
	</div>
</div>
