<p id="notice"><%= notice %></p>

<h1><%= @supplier.company_name %> Homepage</h1>
<ul>
  <li><strong>Username:</strong> <%= @supplier.username %></li>
  <li><strong>E-mail:</strong> <%= @supplier.email %></li>
  <li><strong>Address:</strong> <%= @supplier.address %></li>

</ul>

<hr>


<h3>Manage your deals here</h3>

<% @supplier.deals.each do |deal| %>
  <ul>
    <% if !deal.url.empty? %>
    <li><%= image_tag "#{deal.url}", size: "250x200" %></li>
    <%end%>
    <li><strong>Description:</strong> <%= deal.description %></li>
    <li><strong>Price:</strong> <%= deal.price %></li>
    <li><strong>Minimum Units Required:</strong> <%= deal.threshold %></li>
    <li><strong>Deal Starts:</strong> <%= deal.start_date %></li>
    <li><strong>Deal Ends:</strong> <%= deal.end_date %></li>
    <%if deal.is_threshold_reached%>
    <li style = "color: green"><strong>Current Number of Participants: </strong><%= deal.orders.count %> (Lottery Ready)</li>
    <%else%>
    <li style = "color: red"><strong>Current Number of Participants: </strong><%= deal.orders.count %> (Awaiting <%= deal.threshold - deal.orders.count%> Participants)</li>
    <%end%>
  </ul>
  <%= link_to 'Edit Deal', edit_supplier_deal_path(@supplier, deal) %> |
  <%= link_to 'Delete Deal', supplier_deal_path(@supplier, deal), method: :delete %>
<% end %>
<%#= @orders.each do |order| %>
<%#=order.quantity%>
<%#end%>
<hr>

<%= link_to 'Create New Deal', new_deal_path %>
<br>
