<!DOCTYPE html>
<html>
<head>
  <title>Wholesale</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to 'Deals Page (Home)', deals_path %>

<%= yield %>

</body>
</html>

<div>
  <% if current_supplier %>
    <ul>
      <li>Supplier: <%= current_supplier.email %></li>
      <li><%= link_to "Log out", logout_path, method: "delete" %></li>
    </ul>
  <% end %>
</div>
