<!DOCTYPE html>
<html>
<head>
  <title>Wholesale</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <% if current_supplier %>
    <ul>
      <li><%= current_supplier.email %></li>
      <li><%= link_to "Log out", logout_path, method: "delete" %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to "Login", root_path %></a></li>
      <li><%= link_to "Signup", 'signup' %></a></li>
    </ul>
  <% end %>

<p class="flash"><%= flash.notice %></p>


<%= yield %>

</body>
</html>
