<!DOCTYPE html>
<html>
<head>
  <title>ParlayVous</title>
  <link href='http://fonts.googleapis.com/css?family=Muli|Source+Code+Pro|Hind:400,600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>
   (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=201664189890797";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

     window.fbAsyncInit = function(){  // this gets triggered when FB object gets initialized
            console.log("FB Object initiated");
            FB.XFBML.parse(); // now we can safely call parse method
       };
</script>



  <nav class="navbar">
	  <ul>
        <li id="home_link"><strong><%= link_to 'ParlayVous', deals_path %></strong></li>

        <li id="electronics_labels">
            <%= link_to 'Electronics', deals_index_electronics_path %>
        </li>
        <li id="video_game_labels">
            <%= link_to 'Video Games', deals_index_videogames_path %>
        </li>
        
  
<!-- 
			
			<li><% if current_supplier %>
			<%= link_to "Username: #{current_supplier.username.capitalize}", supplier_path(current_supplier)%>

			&nbsp;&nbsp;
			<%= link_to "Log out", logout_path, method: "delete" %>
			<% else %>
			<%= link_to 'Supplier Dashboard', new_supplier_session_path %>
			<% end %>
			</li>  -->

		  <li class="login_link"><% if current_consumer %>
			  <%= link_to "#{current_consumer.username}", consumer_path(current_consumer)%>
			    &nbsp;
	   	  <span class= "points_link"><%= "Points:" %></span><span class="points"><%= "#{current_consumer.total_points}" %></span>
			    &nbsp;
			  <%= link_to "Log out", logout_path, method: "delete" %>
		  <% else %>
			   <%= link_to 'Sign in', new_consumer_session_path %>
			   &nbsp;
			   <%= link_to 'Sign up', new_consumer_path %>
		  <% end %>
	  </li>
    </ul>
  </nav>
<div>
<p id="notice"><%= notice %></p>
</div>

<%= yield %>

<footer>
  <div class="footer">
	<li><%= link_to 'About', suppliers_about_path %></li>
	&nbsp;
	<p class="footercopy">
		 	&copy; 2015 Powered by ParlayVous.
	</p>
  </div>
</footer>
</body>
</html>
